Options +FollowSymlinks
RewriteEngine on
RewriteRule ^controller(.*)$ forbidden/ [F,L]
RewriteRule ^model(.*)$ forbidden/ [F,L]
RewriteRule ^view(.*)$ forbidden/ [F,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]